.root {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.brandmarkContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.pageTitle {
    display: flex;
    align-items: baseline;
}
